.active-orders {
    padding: 15px 0;
}

.col-xs-12 {
    width: 100%;
}

.active-orders table {
    border-left: 1px solid #dddddd;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    overflow-y: hidden;    
}
table {
    max-width: 100%;
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}